@import "_variables.scss";

* {
  text-align: center;
}

.main-link {
  display: block;
  box-sizing: inherit;
  padding: 4px;
  text-decoration: none;
  flex: 1 1 25%;
}

.main-link-span {
  border-radius: 30px;
  padding: 16px;

  @include btn;
  @include box-shadow;
}
