@import "_variables.scss";

.navigation {
  @include box-shadow();
}

.nav-sub {
  display: flex;
  position: relative;
  width: 100%;
}

.nav-block {
  flex: 1 2 auto;

  &:not(:first-child) {
    border-left: none;
  }

  .nav-sub {
    position: absolute;
    left: 0;
    flex-flow: column nowrap;
    display: none;

    .nav-block {
      perspective: 1000px;
      &:not(:first-child) {
        border-top: none;
        border-left: 2px solid $border;
      }
    }
  }

  &:hover {
    .nav-sub {
      display: block;
    }
  }
}

.nav-btn {
  display: block;
  padding: 16px;
  line-height: 1;

  @include btn;
}

@for $i from 0 through 4 {
  .nav-ani-#{$i} {
    @include scaleZ($i);
  }
}
